/* Colors */
/*
Background Panels: #e9e7dd
Background Panel Outline: #a7a69e
*/
:root {
	--backgroundPanels: black;
	--backgroundPanels2: white;
	--textColor: white;
}

/* Universals */
* {
	font-family: Calibri;
	color: var(--textColor);
}

body {
	/* background-color: rgb(242, 242, 242);  */
	background-image: url("../images/treesBackground.jpg");
	background-size: 100%;
	margin: 0px; 
}

.backgroundPanel {
	background-color: var(--backgroundPanels);
	border-radius: 10px;
	border: 5px ridge var(--backgroundPanels2);
	margin-left: 3%;
	margin-right: 3%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}

/* Toolbar */
.toolBar {
	list-style-type: none;
    margin: 0;
	padding: 0;
	margin-bottom: 30px;
	background-color: var(--backgroundPanels);
	padding-bottom: 5px;
	height: 38px;
	text-align: center;
	/* position: fixed;  */
}

.toolBar li {
	float: left;
	width: 15.3%;
	background-color: var(--backgroundPanels);
	padding: 10px;
}

.toolBar li a {
	color: var(--textColor);
	text-decoration: none;
}

.toolBar li:hover {
	background-color: var(--backgroundPanels2);
	color: var(--backgroundPanels);
	cursor: pointer;
}

/* Header */
#headerTitle {
	font-size: 5em;
	text-shadow: 4px 4px 8px black;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

#headerImage {
	height: 1%;
}

/* ... */