/* Colors */
/*
Background Panels: #e9e7dd
Background Panel Outline: #a7a69e
*/
:root {
	--backgroundPanels: black;
	--backgroundPanels2: white;
	--textColor: white;
}

/* Universals */
* {
	font-family: Calibri;
	color: var(--textColor);
}

body {
	/* background-color: rgb(242, 242, 242);  */
	background-image: url("../images/treesBackground.jpg");
	background-size: 100%;
	margin: 0px; 
}

.backgroundPanel {
	background-color: var(--backgroundPanels);
	border-radius: 10px;
	border: 5px ridge var(--backgroundPanels2);
	margin-left: 3%;
	margin-right: 3%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.backgroundPanel .bpHeader {
	text-align: center;
	margin-top: 0px;
	background-color: var(--backgroundPanels2);
	color: var(--backgroundPanels);
	width: 50%;
	margin: auto;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-top: 4px;
}

.backgroundPanel .bpButton {
	background-color: var(--backgroundPanels2);
	color: var(--backgroundPanels);
	text-decoration: none;
	width: 10%;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid var(--backgroundPanels);
	border-radius: 4px;
}

.backgroundPanel .bpButton:hover {
	background-color: var(--backgroundPanels);
	color: var(--backgroundPanels2);
	border: 1px solid var(--backgroundPanels2);
}

.flexBoxContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: center;
	-webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.flexBoxContainer div {
	border: 1px solid var(--backgroundPanels); 
    background-color: var(--backgroundPanels);
	margin: 10px;
	border-radius: 10px;
	width: 40%;
	height: 200px;
}

.footerText {
	margin-left: 1%;
	margin-top: 3px;
}

.footerBackToTop {
	text-align: center;
}

/* Toolbar */
.toolBar {
	list-style-type: none;
    margin: 0;
	padding: 0;
	margin-bottom: 30px;
	background-color: var(--backgroundPanels);
	padding-bottom: 5px;
	height: 38px;
	text-align: center;
	/* position: fixed;  */
}

.toolBar li {
	float: left;
	width: 15.3%;
	background-color: var(--backgroundPanels);
	padding: 10px;
}

.toolBar li a {
	color: var(--textColor);
	text-decoration: none;
}

.toolBar li:hover {
	background-color: var(--backgroundPanels2);
	color: var(--backgroundPanels);
	cursor: pointer;
}

/* Header */
#headerTitle {
	font-size: 5em;
	text-shadow: 3px 3px 8px black;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

#headerImage {
	display: block;
	margin: auto;
	width: 40%;
	margin-bottom: 20px;
}

/* Page Content */
