/* Colors */
:root {
	--backgroundPanels: black;
	--backgroundPanels2: white;
	--textColor: white;
	--selectorColor: #A71818;
	--greenColor: #009900;
	--errorColor: red;
}

/* Fonts */
@font-face {
	font-family: "Dense";
	src: url("../fonts/Dense.otf") format("opentype");
}

@font-face {
	font-family: "Alcubierre";
	src: url("../fonts/Alcubierre.otf") format("opentype");
}

/* Universals */
* {
	font-family: Calibri; 
	color: var(--textColor);
}

body {
	/* background-color: rgb(242, 242, 242);   */
	background-image: url("../images/treesBackground.jpg");
	background-size: 100%; 
	margin: 0px; 
}

header {
	margin-top: 3%;
}

.backgroundPanel {
	background-color: var(--backgroundPanels); 
	border-radius: 10px;
	border: 1px solid var(--backgroundPanels);
	margin-left: 3%;
	margin-right: 3%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.backgroundPanelSmall {
	width: 50%;
	margin: auto;
}

.backgroundPanel .bpHeader {
	text-align: center;
	margin-top: 0px;
	background-color: var(--backgroundPanels2);
	color: var(--backgroundPanels);
	width: 50%;
	margin: auto;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-top: 4px;
}

.backgroundPanel .bpMinorHeader {
	text-align: center;
	margin-top: 0px;
	background-color: var(--backgroundPanels2);
	color: var(--backgroundPanels);
	width: 90%;
	margin: auto;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-top: 4px;
}

.backgroundPanel .bpButton {
	background-color: var(--backgroundPanels2);
	color: var(--backgroundPanels);
	text-decoration: none;
	width: 10%;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid var(--backgroundPanels);
	border-radius: 4px;
}

.backgroundPanel .bpButton:hover {
	background-color: var(--backgroundPanels);
	color: var(--backgroundPanels2);
	border: 1px solid var(--backgroundPanels2);
}

.flexBoxContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: center;
	-webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   align-items: flex-start;
}

.flexBoxContainer div {
	border: 1px solid var(--backgroundPanels); 
    /* background-color: var(--backgroundPanels); */
	margin: 10px;
	border-radius: 10px;
}

.homePageFlexBox {
	width: 40%;
	height: 52%;
	padding-bottom: 10px;
}

.investorsFlexBox {
	width: 40%;
}

/* Toolbar */
.toolBar {
	list-style-type: none;
    margin: 0;
	padding: 0;
	background-color: var(--backgroundPanels);
	height: fit-content;
	padding: 14px 16px;
	position: fixed;
    top: 0;
	width: 100%;
}

.toolBar li {
	display: inline;
}

.toolBar li a {
	width: 1em;
	text-decoration: none;
	text-align: center;
	background-color: var(--backgroundPanels);
	color: var(--backgroundPanels2);
	padding: 14px 16px;
	font-size: 20px;
}

.toolBar li a:hover {
	background-color: var(--backgroundPanels2);
	color: var(--backgroundPanels);
}

.toolBar .selected {
	background-color: var(--selectorColor);
}

/* Header */
#headerTitle {
	font-size: 5em;
	text-shadow: 3px 3px 8px black;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: "Alcubierre", Calibri;
}

#headerImage {
	display: block;
	margin: auto;
	width: 40%;
	margin-bottom: 20px;
}

/* Footer */
.footerText {
	margin-left: 1%;
	margin-top: 3px;
}

.footerBackToTop {
	text-align: center;
}

/* Investors Page */
.contentList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 10px;
}

.contentList li {
	background-color: var(--backgroundPanels2);
	color: var(--backgroundPanels);
	border-radius: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.contentList li * {
	text-align: left;
	margin: 2px;
	margin-left: 15px;
	margin-right: 15px;
	color: var(--backgroundPanels);
}

.contentList li h3 a {
	margin: 0px;
	text-decoration-style: dotted;
}

.contentList li h3 a:hover {
	text-decoration-style: solid;
}

.investorStock {
	text-align: center;
}

.investorStock .greenText {
	color: var(--greenColor);
}

/* News Page */
#newsPage div {
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

#newsPage div h1, h4{
	margin: 0px;
}

#newsPage div p {
	margin: 0px;
}

#newsPage div a {
	text-align: center;
	margin: auto;
}

.newsGoBack {
	text-align: center;
	font-weight: normal;
}

/* Forum */
#frmRegister {
	/* max-width: 50%; */
	margin: auto;
}

#frmRegister fieldset{
    max-width: 100%;
    border: 3px solid var(--backgroundPanels);
    border-radius: 4px;
	margin-bottom: 3px;
	background-color: var(--backgroundPanels2);
	border-radius: 10px;
}

#frmRegister fieldset legend {
    font-weight: bold;
	color: var(--backgroundPanels);
	background-color: var(--backgroundPanels2);
    font-size: 1.3em;
    border-right: 3px solid var(--backgroundPanels);
	border-left: 3px solid var(--backgroundPanels);
	border-bottom: 3px solid var(--backgroundPanels);
    border-radius: 4px;
    padding-left: 5px;
	padding-right: 5px;
}

#frmRegister fieldset * .realLabel {
    margin-right: 3px;
	font-weight: bold;
	color: var(--backgroundPanels);
}

#frmRegister fieldset * .standardInput {
    border-radius: 4px;
    padding: 3px;
    outline: none;
    width: 50%;
	border: 1px solid var(--backgroundPanels);
	color: var(--backgroundPanels2);
	background-color: var(--backgroundPanels);
}

#frmRegister fieldset * .standardInput::placeholder {
	color: lightgrey;
}

#frmRegister .buttons .button {
    background-color: var(--backgroundPanels2);
    border: 1px solid var(--backgroundPanels);
    border-radius: 4px;
    color: var(--backgroundPanels);
    font-weight: bold;
    padding: 5px;
	outline: none;
	/* margin-left: 4px;
	margin-right: 4px; */
	width: 100%; 
}

#frmRegister .buttons .button:hover {
    cursor: pointer;
    background-color: var(--backgroundPanels);
	color: var(--backgroundPanels2);
	border: 1px solid var(--backgroundPanels2);
	border-radius: 4px;
}

.frmMistake {
    color: var(--backgroundPanels2);
    background-color: var(--errorColor);
    border: 3px solid var(--backgroundPanels2);
    border-radius: 4px;
}

#frmErrors ol li { 
    color: var(--errorColor);
}

.information p select {
    outline: none;
    border: 1px solid var(--backgroundPanels);
    border-radius: 4px;
	padding: 2px;
	color: var(--backgroundPanels2);
	background-color: var(--backgroundPanels);
}

.dropDownText {
	color: var(--backgroundPanels2);
}

.checkField {
	font-weight: normal;
	color: var(--backgroundPanels2);
}

.checkField input {
    width: 10px;
}

.radio-field {
	color: var(--backgroundPanels2);
}

.formPanel {
	background-color: var(--backgroundPanels);
	padding: 5px;
	border-radius: 4px;
}

.formPanel p {
	margin-top: 3px;
	margin-bottom: 3px;
}

.collapsedForumHeader {
	margin-bottom: 3px;
}

.text-field-large {
	height: 100px;
}